@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="app d-flex flex-column vh-100">

    <!-- Шапка как ссылка -->
    <header class="bg-secondary shadow d-flex align-items-center px-3"
            style="height: 56px; cursor: pointer;"
            @onclick='() => NavManager.NavigateTo("/")'>
        <span class="fw-bold text-white">
            <Icon Name="IconName.Tools" Size="IconSize.x5" />
        </span>
        <span class="fw-bold text-white">&nbsp;&nbsp;&nbsp;MNS81 Utils&nbsp;</span>
        <span class="badge bg-light text-dark ms-2">1.0.3</span>
    </header>

    <!-- Контент -->
    <main class="flex-grow-1" style="margin-left:20px; margin-right:20px">
        <br /><br />
        @Body
    </main>

    <!-- Футер -->
    <footer class="bg-light text-center py-2 border-top" style="height: 40px;">
        <small class="text-muted">© 2025 MNS81</small>
    </footer>
</div>