@page "/"

<Accordion Flush="true">
    <AccordionItem>
        <TitleTemplate>
            <Icon Name="IconName.InfoCircle" Size="IconSize.x4" Color="IconColor.Info" />&nbsp;&nbsp;&nbsp;&nbsp;Wordle Helper
        </TitleTemplate>
        <Content>
            <h5 style="text-align:center">Описание программы “Wordle Helper”</h5>
            <b>“Wordle Helper”</b> — это веб-приложение, созданное для помощи игрокам в угадывании слов в игре Wordle и её аналогах на 5 букв.<br />
            Программа анализирует введённые пользователем данные о правильных, частично совпадающих и отсутствующих буквах, а затем подбирает список подходящих слов из встроенного словаря.<br />
            <b>Как это работает:</b><br />
            Ввод букв на своих местах — 5 отдельных полей позволяют указать уже известные буквы в правильных позициях.<br />
            Ввод букв, которые есть в слове — одно поле для всех найденных, но пока неуточнённых по позиции букв.<br />
            Ввод букв, которых нет в слове — одно поле для исключения неподходящих символов.<br />
            Кнопка “Подобрать” — мгновенно фильтрует словарь и выводит список всех подходящих слов.<br />
            Кнопка “Очистить” — сбрасывает все поля ввода и результаты поиска.<br />
            Отображение результатов в модальном окне — найденные слова выводятся в отдельном окне для удобного просмотра.<br />
            <b>Пример использования:</b><br />
            В первом ряду полей вы указываете: _ С _ _ А (буква “С” на второй позиции, буква “А” на пятой).<br />
            В поле “Буквы, которые есть в слове” вводите: Р.<br />
            В поле “Буквы, которых нет в слове” — ТМЕ.<br />
            Программа мгновенно предложит все слова из словаря, соответствующие этим условиям.<br />
            <b>Особенности реализации:</b><br />
            Интерфейс на основе Blazor с удобными крупными полями ввода.<br />
            Автоматическое приведение всех букв к верхнему регистру.<br />
            Логика фильтрации по позициям и наличию/отсутствию букв без задержек.<br />
            Модальное окно для компактного вывода результатов.<br />
            Такое решение значительно ускоряет процесс поиска ответа в Wordle и экономит ходы, помогая сосредоточиться на стратегии.<br /><br />
            <div class="row md-3">
                <div class="col-sm-3 d-grid" style="padding-bottom:15px">
                    <a href="wordlehelper" class="btn btn-info" >WordleHelper</a>
                </div>
            </div>
        </Content>
    </AccordionItem>
    <AccordionItem>
        <TitleTemplate>
            <Icon Name="IconName.InfoCircle" Size="IconSize.x4" Color="IconColor.Info" />&nbsp;&nbsp;&nbsp;&nbsp;True Price
        </TitleTemplate>
        <Content>
            <h5 style="text-align:center">Описание программы “Честная цена”</h5>
            <b>“Честная цена”</b> — это интерактивное веб-приложение, которое помогает быстро и точно определить реальную стоимость товара за килограмм, а также сравнить цены на несколько позиций, чтобы сделать выгодную покупку.<br />
            <b>Как это работает:</b><br />
            Вес в граммах — указывается в первом поле.<br />
            Цена товара — вводится во втором поле.<br />
            Кнопка “Посчитать” - мгновенно рассчитывает цену за 1 кг (с точностью до 2 знаков после запятой). Результат отображается в модальном окне.<br />
            Кнопка “Список” - показывает все ранее введённые товары в порядке от самой низкой до самой высокой цены за килограмм. Удобно для сравнения стоимости одинаковых или схожих продуктов.<br />
            Кнопка “Сбросить” - очищает все введённые данные и список товаров.<br />
            <b>Пример использования:</b><br />
            Вы покупаете сыр весом 350 г за 245 рублей.<br />
            Вводите 350 в поле веса и 245 в поле цены, нажимаете “Посчитать”.<br />
            Программа выводит: Цена за килограмм: 700 руб.<br />
            Добавив несколько товаров, можно нажать “Список” и увидеть упорядоченный рейтинг цен.<br />
            <b>Особенности реализации:</b><br />
            Простой и понятный интерфейс на Blazor.<br />
            Поддержка работы с несколькими товарами в рамках одной сессии.<br />
            Автоматическая сортировка списка по цене за килограмм.<br />
            Мгновенный расчёт без перезагрузки страницы.<br />
            Защита от ввода некорректных значений (например, веса 0 г или пустых полей).<br />
            “Честная цена” полезна для всех, кто хочет экономить и принимать решения на основе точных данных, будь то в супермаркете, на рынке или при онлайн-покупках.<br /><br />
            <div class="row md-3">
                <div class="col-sm-3 d-grid" style="padding-bottom:15px">
                    <a href="trueprice" class="btn btn-info" >TruePrice</a>
                </div>
            </div>

        </Content>
    </AccordionItem>
</Accordion>
<div class="p-3 border-top mt-auto">
    <ThemeSwitcher Position="DropdownMenuPosition.Start" />
</div>

@code {
    
}